body {
    background-color: #272b30;
    font-family: "Comfortaa", cursive;
}
.parent img {
    height: 30vh;
}
nav {
    width: 75%;
    background-color: rgb(58, 73, 123) !important;
    margin-top: -30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.7);
}
nav .navbar-brand{
    /* font-family: "Nerko One" , cursive; */
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem;
    color: white;
}
nav a.links {
    color: white;
    font-weight: 500 !important;
    font-size: 12px !important;
    text-decoration: none;
}
nav a.links:hover{
    color: #09c !important;
    transition: 0.5s color;
}
.active {
    color: #09c !important;
    transition: 0.5s color;
}
.card {
    background-color: transparent !important;
    color: white;
    transition: 0.7s;
    cursor: pointer;
}
.card > ul.list-group{
    --bs-list-group-color: white;
    --bs-list-group-bg: transparent;
}
.card .list-group span {
    font-size: 10px;
    font-weight: bold;
    background-color: #32383e;
    padding: 4px 6px;
    border-radius: 10px;
}
.text-bg-primary {
    font-size: 0.7rem;
    font-weight: bold;
    background-color: #456f94 !important;
    transition: 0.5s;
}
.card:hover .text-bg-primary{
    background-color: #0d6efd !important;
}
.card:hover {
    transform: scale(1.085);
}
.card:hover .image img {
    filter: grayscale(0);
}
.card .image img{
    filter: grayscale(0.7);
    transition: 0.5s;
}
.card-body p {
    color: rgb(139, 139, 139);
    font-weight: bold;
    font-size: 14px;
}
section.details{
    color: white;
}