body {
    background-color: #272b30;
    font-family: "Comfortaa", cursive;
}
.parent img {
    height: 30vh;
}
nav {
    width: 75%;
    background-color: rgb(58, 73, 123) !important;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.7); 
}
.parentnav{
    z-index: 300;
    margin-top: -30px;
}
.image a:hover{
    color: white;
}
nav .navbar-brand{
    /* font-family: "Nerko One" , cursive; */
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem;
    color: white;
}
nav a.links {
    color: white;
    font-weight: 500 !important;
    font-size: 12px !important;
    text-decoration: none;
}
nav a.links:hover{
    color: #09c !important;
    transition: 0.5s color;
}
.active {
    color: #09c !important;
    transition: 0.5s color;
}
.card {
    background-color: transparent !important;
    color: white;
    transition: 0.7s;
    cursor: pointer;
}
.card > ul.list-group{
    --bs-list-group-color: white;
    --bs-list-group-bg: transparent;
}
.card .list-group span {
    font-size: 10px;
    font-weight: bold;
    background-color: #32383e;
    padding: 4px 6px;
    border-radius: 10px;
}
.text-bg-primary {
    font-size: 0.7rem;
    font-weight: bold;
    background-color: #456f94 !important;
    transition: 0.5s;
}
.card:hover .text-bg-primary{
    background-color: #0d6efd !important;
}
.card:hover {
    transform: scale(1.085);
}
.card:hover .image img {
    filter: grayscale(0);
}
.card .image img{
    filter: grayscale(0.7);
    transition: 0.5s;
}
.card-body p {
    color: rgb(139, 139, 139);
    font-weight: bold;
    font-size: 14px;
}
section.details{
    color: white;
}
.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    inset: 0;
    background-color: #272b30e3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: relative;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #FF3D00;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
@media (min-width: 767px) and (max-width:991px){
    .container{
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media(min-width:500px) and (max-width: 766px){
    .card{
        width: 28rem !important;
    }
    .row{
        justify-content: center;
    }
}
@media(max-width:499px) {
    .row{
        justify-content: center;
    }
}